<div [class.dark-theme]="isDarkTheme">

  <button *ngIf="!isAuth" md-raised-button (click)="login()"><img width="30" src="assets/google_logo.png" />Use My Google Account</button>


  <div *ngIf="isAuth">
  <md-toolbar color="primary">
    <span><md-icon class="icon-20">euro_symbol</md-icon>Kitty</span>
    <button md-icon-button [mdMenuTriggerFor]="menu">
    <md-icon>more_vert</md-icon>
    </button>

    <md-menu #menu="mdMenu">
      <button md-menu-item (click)="logout()"><md-icon>exit_to_app</md-icon><span>Logout</span></button>
    </md-menu>

  </md-toolbar>
  <stock-widget></stock-widget>
  </div>

</div>