<md-card>

  <md-card-content>

    <h2>Your Stocks ({{asOfDate}})</h2>

     <div *ngIf="!stockData">
      <md-progress-spinner mode="indeterminate"></md-progress-spinner>
    </div>






    <div *ngFor="let stock of stockData; let i = index" class="stock-card">
          <div class="stock-card__title">{{getDescription(stock.dataset.name)}}</div>
          <span class="stock-card__value">{{getSharePriceValue(stock.dataset,i) | currency:'GBP':true}}</span> 
          <span class="stock-card__price">({{stock.dataset.data[0][5]}})</span>

          <div class="stock-card__actions">
            <md-icon class="icon-20 edit-icon">mode_edit</md-icon>
            <md-icon class="icon-20 delete-icon">delete</md-icon>
          </div>
    </div>

    <md-grid-list cols="2" rowHeight="50px">
      <md-grid-tile> <span class="stock-name">Total:</span>  </md-grid-tile>
      <md-grid-tile> <span class="stock-value">{{getSharePriceTotalValue() | currency:'GBP':true}}</span> </md-grid-tile>
    </md-grid-list>

  </md-card-content>
  <md-card-actions>
    <button md-raised-button (click)="showAddStockCard()">Add a Stock</button>
  </md-card-actions>
</md-card>

<md-card *ngIf="addStockCardIsActive">
  <md-card-header>
    <md-card-title>Add New Stock</md-card-title>
  </md-card-header>
  <md-card-content>

    <md-input-container class="full-width">
      <input md-input placeholder="Stock Code e.g. LLOY" [(ngModel)]="newStock.code"  />
    </md-input-container>
    <md-input-container class="full-width">
      <input md-input placeholder="Quantity" [(ngModel)]="newStock.quantity"  />
    </md-input-container>

  </md-card-content>
  <md-card-actions>
    <button md-raised-button (click)="addStock()">Add</button>
    <button md-raised-button (click)="hideAddStockCard()">Cancel</button>
  </md-card-actions>
</md-card>