<md-card>

  <md-card-content>

    <h2>Your Stocks ({{asOfDate}}) {{config.totalStock}}</h2>

     <div *ngIf="!stockData">
      <md-progress-spinner mode="indeterminate"></md-progress-spinner>
    </div>

    <div *ngFor="let stock of stockData; let i = index" class="stock-card">

          <div class="stock-card__menu">
            <button md-icon-button [mdMenuTriggerFor]="stockmenu"><md-icon>more_vert</md-icon></button>
            <md-menu #stockmenu="mdMenu">
              <button md-menu-item><md-icon>delete</md-icon><span>Delete</span></button>
              <button md-menu-item><md-icon>mode_edit</md-icon><span>Update</span></button>
              <a md-menu-item href='https://www.google.com/finance?q=LON:{{stock.dataset.dataset_code}}' target='_blank'><md-icon>mode_edit</md-icon>
                <span>Google Finance</span>
              </a>
            </md-menu>
          </div>

          <div class="stock-card__title">{{getDescription(stock.dataset.name)}}</div>
          <span class="stock-card__value">{{(stock.dataset.quantity * stock.dataset.data[0][5]) / 100 | currency:'GBP':true}}</span> 
          <span class="stock-card__price">({{stock.dataset.data[0][5]}})</span>
          <span class="stock-card__price">({{stock.dataset.quantity}})</span>
          
          <chart [type]="chartStructure.type" [data]="stock.dataset.chartData" [options]="chartStructure.options"></chart>

          
    </div>



    <div class="stock-card">

          <div class="stock-card__title">Total</div>
          <span class="stock-card__value">{{getSharePriceTotalValue() | currency:'GBP':true}}</span> 
          <chart [type]="chartStructure.type" [data]="chartDataHistoricValue" [options]="chartStructure.options"></chart>
    </div>
  </md-card-content>
  <md-card-actions>
    <button md-raised-button (click)="showAddStockCard()">Add a Stock</button>
  </md-card-actions>
</md-card>

<md-card *ngIf="addStockCardIsActive">
  <md-card-header>
    <md-card-title>Add New Stock</md-card-title>
  </md-card-header>
  <md-card-content>

    <md-input-container class="full-width">
      <input md-input placeholder="Stock Code e.g. LLOY" [(ngModel)]="newStock.code"  />
    </md-input-container>
    <md-input-container class="full-width">
      <input md-input placeholder="Quantity" [(ngModel)]="newStock.quantity"  />
    </md-input-container>

  </md-card-content>
  <md-card-actions>
    <button md-raised-button (click)="addStock()">Add</button>
    <button md-raised-button (click)="hideAddStockCard()">Cancel</button>
  </md-card-actions>
</md-card>